
*.ini
*.db
Working/Ships/Monitor/.DS_Store
Working/All Plugins/Monitor/.DS_Store
Working/Ships/Monitor/images/.DS_Store
Working/Ships/Monitor/images/ship/.DS_Store
Working/Ships/Monitor/data/.DS_Store
Working/All Plugins/Monitor/images/ship/.DS_Store
Working/All Plugins/Monitor/images/.DS_Store
Working/All Plugins/Monitor/data/.DS_Store
