.*
*.log

# Mac
*._*
.DS_Store


# IDEs
.vscode/


# ES Editor
imgui.ini


# For scripts/
*.o
*.out
*.exe
*.dll

*.pyc
__pycache__


#
#===< Whitelist >===#
#
!Wintersconfig.yaml
!.git
!.gitignore
!.gitattributes