# https://editorconfig.org/
root = true

[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Data Files
[data/**.txt]
indent_style = space
indent_size = 4

# Simple Copyright Check Program
[.github/copyright-check.py]
indent_style = tab

# Workflows
[*.{yml,yaml}]
indent_style = space
indent_size = 2

# Plugin.txt
[plugin.txt]
indent_style = space
indent_size = 2

# Copyright File
[copyright]
indent_style = space
indent_size = 1
